final_dataset/
final_dataset_split/
features/

*.npy
*.h5
*.keras
*.joblib
*.pkl

xgb_models/*.json

__pycache__/
*.pyc

venv/
env/
.venv/

.ipynb_checkpoints/

.streamlit/secrets.toml

.vscode/

Thumbs.db
.DS_Store